@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Montserrat;
  font-size: 18px;
  
  background-color: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@media (prefers-color-scheme: dark) {
}
